body {
    font-family: 'Segoe UI', sans-serif;
}

.body_vuelo{
    background-image: url("../img/airport.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
    min-height: calc(100vh - 80px);
}

[data-bs-theme="dark"].body_vuelo{
    background-image:
            linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 100%),
            url("../img/airport.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
    min-height: calc(100vh - 80px);
}

.body_hotel{
    background-image: url("../img/hotel.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
    min-height: calc(100vh - 80px);
}

[data-bs-theme="dark"].body_hotel{
    background-image:
            linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 100%),
            url("../img/hotel.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
    min-height: calc(100vh - 80px);
}

.body_excursion{
    background-image:
            linear-gradient(to bottom, rgba(255, 255, 255, 0.8) 10%, rgba(0, 0, 0, 0) 50%),
            url("../img/excursion.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
    min-height: calc(100vh - 80px);
}

[data-bs-theme="dark"].body_excursion{
    background-image:
            linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 100%),
            url("../img/excursion.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
    min-height: calc(100vh - 80px);
}

.body_reserva{
    background-image: url("../img/booking.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
    min-height: calc(100vh - 80px);
}

[data-bs-theme="dark"].body_reserva{
    background-image:
            linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(255, 255, 255, 0) 100%),
            url("../img/booking.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
    min-height: calc(100vh - 80px);
}
.hero {
    background: url('https://images.unsplash.com/photo-1502920514313-52581002a659?ixlib=rb-4.0.3&auto=format&fit=crop&w=1950&q=80') no-repeat center center/cover;
    color: white;
    min-height: 100vh;
    padding: 1rem 1rem;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1.5rem;
    border-radius: 15px;
    width: 100%;
    max-width: 1000px;
}
.icon-box {
    text-align: center;
    padding: 1rem;
}
.icon-box i {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    color: #0d6efd;
}
#paquete {
    background: linear-gradient(rgba(255,255,255,0.95), rgba(255, 255, 255, 0.575)),
    url('https://images.unsplash.com/photo-1521295121783-8a321d551ad2?ixlib=rb-4.0.3&auto=format&fit=crop&w=1950&q=80') no-repeat center center/cover;
}

[data-bs-theme="dark"] #paquete {
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5)),
    url('https://images.unsplash.com/photo-1521295121783-8a321d551ad2?ixlib=rb-4.0.3&auto=format&fit=crop&w=1950&q=80') no-repeat center center/cover;
}

[data-bs-theme="dark"] .hero {
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5)),
    url('https://images.unsplash.com/photo-1502920514313-52581002a659?ixlib=rb-4.0.3&auto=format&fit=crop&w=1950&q=80') no-repeat center center/cover;
}

@media (prefers-color-scheme: dark) {
    .icon-box i {
        color: #66b2ff;
    }

    .hero {
        color: #fff;
    }
}

.card-img-top {
    height: 180px;
    object-fit: cover;
}

.card {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.material-symbols-outlined {
    font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 24;
    vertical-align: middle;
    margin-right: 6px;
}

#children_ages[readonly] {
    cursor: not-allowed;
    user-select: none;
}