<div th:fragment="toastFragment(mensaje, tipo)">
    <div class="position-fixed top-0 end-0 p-3" style="z-index: 1100" th:if="${mensaje != null}">
        <div id="toastMensaje"
             class="toast align-items-center border-0 fade show"
             role="alert"
             aria-live="assertive"
             aria-atomic="true"
             th:classappend="' text-bg-' + ${tipo}"
             data-bs-delay="3000"
             data-bs-autohide="true">
            <div class="d-flex">
                <div class="toast-body d-flex align-items-center gap-2">
                    <i class="bi"
                       th:classappend="${tipo} == 'success' ? 'bi-check-circle-fill' :
                                           ( ${tipo} == 'warning' ? 'bi-exclamation-triangle-fill' :
                                           ( ${tipo} == 'danger' ? 'bi-x-circle-fill' : 'bi-info-circle-fill') )">
                    </i>
                    <span th:text="${mensaje}">Mensaje</span>
                </div>
                <button type="button"
                        class="btn-close btn-close-white me-2 m-auto"
                        data-bs-dismiss="toast"
                        aria-label="Cerrar"></button>
            </div>
        </div>
    </div>
</div>
